<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="./lib/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="./lib/css/custom.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>
  <script type="text/javascript" src="../src/string-class.js"></script>
  <script type="text/javascript" src="./app.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-app="stringClass">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../public/home.html">HOME</a></li>
        <li><a href="../public/index.html">ABOUT</a></li>
      </ul>
    </div>
  </nav>
  <div class="parallax-container">
    <div class="customrow">
      <p class="intro-text">STRING MANIPULATOR</p>
    </div>
    <div class="parallax"><img materialboxed class="responsive-img" src="./images/abstract-1869796_1280.jpg">
    </div>
  </div>
  <div class="row"  ng-controller="stringController">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 customLabel">
          <i class="material-icons prefix">mode_edit</i>
          <input id="textarea1" class="materialize-textarea" placeholder="Enter Text" ng-model="query">
        </div>
      </div>
      <div class="col s4">
           <p class="customP">{{formdata}}</p>
        </div>
    </form>
    
    <div class="col s4 offset-s4 browser-default">
      <select ng-model="value" material-select watch>
        <option ng-repeat="value in choices">{{value}}</option>
    </select>
      <div> <a class="waves-effect waves-light red btn customBtn" ng-click="submit()">Manipulate Text</a>
      </div>
    </div>
  </div>
  <footer class="page-footer footerCustom">
    <div class="container" style="text-align:center">
      © 2017 Copyright Ngozi Ekekwe
    </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="./lib/js/materialize.min.js"></script>
  <script type="text/javascript" src="./lib/js/custom.js"></script>
</body>

</html>